<div>
  


<div class="containerProfile">

  <div class="containerInfoUser" style="background-color: rgb(162, 111, 255);">

    <h1>
      all information friend profile!!!
    </h1>

    <p>Username: {{UserInfo.username}}</p>
    <p>age: {{UserInfo.age}}</p>
    <p>description: {{UserInfo.description}}</p>
      <p>{{allFriends.friends.length}} friends</p>
    <p>sneakers in the collection: {{allSneakers.length}}</p>
    <p>sneakers i want a sell: {{shoesInSell.length}}</p>

    {{#if UserInfo.profilePicture}}
      <img
        src="{{UserInfo.profilePicture}}"
        alt="user image profile"
        width="200px"
      />
    {{/if}}


  </div>


<br>
<br>

  <div class="friendList" style="background-color: rgb(255, 102, 102);">

    <h2 style="color: white">My friends</h2>
    {{#each allFriends.friends}}

      <a href="/profile/{{this._id}}" style="color: rgb(255, 255, 255)">{{this.username}}</a>
      <br />
      <br />

    {{/each}}

  </div>





  <div style="background-color: rgb(86, 86, 254);">
    {{#each allSneakers}}

      {{#if this.image}}

        <a href="/profile/info-user/{{this._id}}">
          <img
            src="{{this.image}}"
            alt="sneakers model"
            width="200px"
            class="imagePost"
          />
        </a>

        <br />
        <br />
      {{/if}}

    {{/each}}
  </div>


</div>

<br>
<br>

{{#if isNotFriend}}
  <form action="/profile/{{UserInfo._id}}/followFriend" method="post">
    <button id="BtnFollow">Follow</button>
  </form>
{{/if}}

</div>