<div class="containerPost">
  <div class="containerPostBG">

    <div class="ContainerimagePostInfo">
      <img
        class="imagePostInfo"
        src="{{allPostInfo.image}}"
        alt="sneakers model"
        width="200px"
      />
    </div>

    {{! commentario }}

    <div class="containerCommentAndInfo">

      <div class="nameUserAndButton">
        <div class="nameAndImgInfo">

          <div class="wrapperImgIcon">
            <img
              src="{{allPostInfo.owner.profilePicture}}"
              alt="profile picture owner"
            />
          </div>

          <a href="/profile/{{allPostInfo.owner._id}}"><p
            >{{allPostInfo.owner.username}}</p></a>

        </div>

        <p>{{allPostInfo.description}}</p>

        <div class="containerButtonPost">
          {{#if isUserCanDelete}}
            <form action="/profile/{{allPostInfo._id}}/delete" method="post">
              <button class="deleteBtn">Delete</button>
            </form>
          {{/if}}
          {{#if isUserCanDelete}}
            <button id="editPostButton">Edit</button>
          {{/if}}
        </div>

      </div>

      <div class="allComment">

        {{#each allCommentInfo.comments}}

          <div class="wrapperNameCommentVisit">

            <div class="wrapperImgIcon">
              <img src="{{this.profilePicture}}" alt="profile picture owner" />
            </div>

            <a href="/profile/{{this.userId}}"><span>{{this.name}}</span></a>

            <p>{{this.comentario}}</p>

          </div>

        {{/each}}

      </div>

      <div class="containerLeaveComment">
        <form action="/profile/info-user/{{allPostInfo._id}}" method="post">

          <label for="comments"></label>
          <input type="text" name="comments" placeholder="Leave your comment" />

        </form>
      </div>

      <div class="editPostContainer" style="display: none">

        <form
          action="/profile/info-user/{{allPostInfo._id}}"
          method="post"
          enctype="multipart/form-data"
        >

          <div class="containerImgTextCreatePost">
            <div class="cruzSalirContainerEditPost"></div>

            <div class="wrapperImgProfilCreatePost">

              <img
                src="{{allPostInfo.owner.profilePicture}}"
                alt="user image profile"
                width="200px"
              />

            </div>

          </div>

          <div class="wrapperSelect">
            <label for="status">
              <select name="status">
                <option value="used">Used</option>
                <option value="new">New</option>
              </select>
            </label>

            <label for="forSale">
              <select name="forSale">
                <option value="For sale">For sale</option>
                <option value="No, i keep it!">No, I keep it!</option>
              </select>

            </label>

          </div>

          <label for="price"></label>
          <input
            type="number"
            name="price"
            value="{{allPostInfo.price}}"
            placeholder="Price"
          />

          <label for="size"></label>
          <input
            type="number"
            name="size"
            value="{{allPostInfo.size}}"
            placeholder="Size"
          />

          <label for="image"></label>
          <input type="file" name="image" />

          <label for="color"></label>
          <input
            type="text"
            name="color"
            value="{{allPostInfo.color}}"
            placeholder="Color"
          />

          <label for="brand"></label>
          <input
            type="text"
            name="brand"
            value="{{allPostInfo.brand}}"
            placeholder="Brand"
          />

          <label for="model"></label>
          <input
            type="text"
            name="model"
            value="{{allPostInfo.model}}"
            placeholder="Model"
          />


          <label for="description"></label>
          <textarea
            rows="4"
            cols="50"
            name="description"
            placeholder="{{allPostInfo.description}}"
          ></textarea>

          <button>Edit post</button>
        </form>

      </div>

    </div>

  </div>

</div>