<div class="containerProfile">

  <div class="containerInfoUser">

    <div class="containerImgProfil">

      <div class="wrapperImgProfil">

        {{#if userInfo.profilePicture}}
          <img
            src="{{userInfo.profilePicture}}"
            alt="user image profile"
            width="200px"
          />
        {{/if}}

      </div>

    </div>

    <div class="wrapperDivProfilInfo">

      <div class="containerUsernamBtnProfil">
        <p>{{userInfo.username}}</p>

        <div class="containerBtnProfil">
          <button id="editProfile">Edit Profile</button>
          <button id="createPost">Create Post</button>
        </div>

      </div>

      <div class="infoProfile">

        <p><span>{{userInfo.age}}</span> years old</p>
        <p><span>{{allSneakers.length}}</span> sneakers in the collection</p>
        {{!-- <p>sneakers i want a sell: {{shoesInSell.length}}</p> --}}
        <p><span>{{userInfo.friends.length}}</span> friends</p>

      </div>

      <p>{{userInfo.description}}</p>

    </div>

  </div>

  <div
    class="friendList"
    style="display: none ; background-color: rgb(255, 102, 102);"
  >

    <h2 style="color: white">My friends</h2>
    {{#each allFriends.friends}}

      <a href="/profile/{{this._id}}" style="color: white">{{this.username}}</a>
      <br />
      <br />

    {{/each}}

  </div>

  <div class="editProfileContainer" style="display: none">

    <form action="profile/edit" method="post" enctype="multipart/form-data">

      <h2>Edit your profile</h2>

      <label for="image">image profile file</label>
      <input type="file" name="image" />

      <label for="age">age</label>
      <input type="number" name="age" value="{{userInfo.age}}" />

      <label for="description">description</label>
      <input type="text" name="description" value="{{userInfo.description}}" />

      <button>Save changing</button>
    </form>

  </div>

  <div class="createPostContainer" style="display: none">

    <form
      action="profile/postcreate"
      method="post"
      enctype="multipart/form-data"
    >



<div class="containerImgTextCreatePost">
      <div class="wrapperImgProfilCreatePost">

        {{#if userInfo.profilePicture}}
          <img
            src="{{userInfo.profilePicture}}"
            alt="user image profile"
            width="200px"
          />
        {{/if}}

      </div>
</div>



<div class="wrapperSelect">
      <label for="status">
     
        <select name="status">
          <option value="used">Used</option>
          <option value="new">New</option>
        </select>
      </label>

      <label for="forSale">
        <select name="forSale">
          <option value="For sale">For sale</option>
          <option value="No, i keep it!">No, I keep it!</option>
        </select>

      </label>
</div>

      <label for="image"></label>
      <input type="file" name="image"/>

      <label for="price"></label>
      <input type="number" name="price" placeholder="Price" />

      <label for="size"></label>
      <input type="number" name="size" placeholder="Size" />


      <label for="color"></label>
      <input type="text" name="color" placeholder="Color" />

      <label for="brand"></label>
      <input type="text" name="brand" placeholder="brand" />

      <label for="model"></label>
      <input type="text" name="model" placeholder="Model" />

      <label for="description"></label>
      <textarea rows="4" cols="50" name="description" placeholder="Description"></textarea>

      <button>Create</button>
    </form>

  </div>

  <div class="containerVignetteProfil">

    {{#each allSneakers}}

      {{#if this.image}}

        <div class="wrapperVignetteProfil">

          <a href="/profile/info-user/{{this._id}}">
            <img src="{{this.image}}" alt="sneakers model" class="imagePost" />
          </a>

        </div>

      {{/if}}

    {{/each}}
  </div>

</div>