
<div class="allSearchContainer">

<div class="containerLogoHomePage">

</div>


<div class="searchHomeContainer">

<form action="home" method="get">
    <label for="search"></label>
    <input type="text" name="search" placeholder="Search by brand..">
</form>

<form action="home" method="get">
    <label for="searchFriend"></label>
    <input type="text" id="searchFriend" name="searchFriend" placeholder="Search username ...">
</form>

</div>

</div>



<div class="allImgHomeContainer">

  

<div class="containerAllVignetteHome">

  {{#each allId}}

<div class="wrapperVignetteHome">


{{#if this.image}}
  <a href="/profile/info-user/{{this._id}}">
  <img src="{{this.image}}" alt="image" class="imagePostHome" />
  </a> 
{{else if this.profilePicture}}
  <a href="/profile/{{this._id}}">
  <img src="{{this.profilePicture}}" alt="image" class="imagePostHome" />
  </a> 
{{/if}}

</div>

  {{/each}}

</div>
</div>



